
.contactList {

  margin: 5px auto;
  padding: 5px 5px 5px 20px;
  /* background-color: #0000001f;
  border: 1px solid #000000ab;
  border-radius: 5px; */
}


.contactItem {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin: 0 auto;
  padding: 10px;
  /* background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px; */
}

/* .contactItem:last-child {
  margin-bottom: 0;
}
 */
